<table style='width: 100%; padding: 45px 35px; box-sizing: border-box'>
  <tr>
    <td style='font-size: 18px; text-align: center;'>
      <h4>Привіт, менеджер!</h4>
      <p>В випадаючому списку відсутні модель та/фбо бренд</p>
    </td>
  </tr>
  <tr>
    <td style='text-align: center;'>
      <p style='margin: 17px 0 0;'>
        Модель:
        {{{model}}}
      </p>
    </td>
  </tr>
  <tr>
    <td style='text-align: center;'>
      <p style='margin: 17px 0 0;'>
        Бренд:
        {{{brand}}}
      </p>
    </td>
  </tr>

</table>